/* CUSTOM PROPS */
:root {
  --primary-color: #22b3c1;
  --primary-bg-color: #ffffff;
  --border-color: #eeeeee;
  --secondary-text-color: #2a2a2a;
  --grayish-text-color: #afafaf;
  --form-border-color: #e0e0e0;
}

/* FONT-FACE  */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.woff2") format("woff2"), url("../fonts/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus {
  outline: 2px dotted var(--primary-color);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #222222;
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER  */
.site-header {
  position: relative;
  padding: 15px 20px;
  background-color: var(--primary-color);
}

.site-header :focus {
  outline: 2px dotted var(--primary-bg-color);
  outline-offset: 3px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__sitenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.sitenav__item {
  margin-right: 30px;
}

.sitenav__link {
  text-decoration: none;
  color: var(--primary-bg-color);
  transition: color 0.4s ease;
}

.sitenav__link:hover {
  color: var(--secondary-text-color);
}

.sitenav__link:active {
  opacity: 0.6;
}

.lang {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.lang__item {
  margin-right: 30px;
}

.lang__link {
  text-decoration: none;
  color: var(--primary-bg-color);
  transition: color 0.4s ease;
}

.lang__link:hover {
  color: var(--secondary-text-color);
}

.lang__link:active {
  opacity: 0.6;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  display: block;
  text-decoration: none;
}

.social__icon {
  display: block;
  color: var(--primary-bg-color);
}

.fa-telegram {
  transition: color 0.4s ease;
}

.fa-instagram {
  transition: color 0.4s ease;
}

.fa-telegram:hover {
  color: var(--secondary-text-color)
}

.fa-instagram:hover {
  color: var(--secondary-text-color)
}

.site-header__toggler {
  display: none;
  width: 24px;
  height: 20px;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: var(--primary-bg-color);
}


/* @media only screen and (max-width: 900px) {
  .site-header__sitenav {
    display: none;
  }

  .site-header__toggler {
    display: block;
  }
} */

@media only screen and (max-width: 900px) {
  .site-header__sitenav {
    display: none;
  }

  .site-header__toggler {
    display: block;
  }

  .site-header.is-open .site-header__sitenav {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120%;
    left: 10%;
    background-color: var(--primary-bg-color);
  }

  .site-header.is-open .sitenav {
    width: 100%;
  }

  .site-header.is-open .sitenav__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .site-header.is-open .lang {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .site-header.is-open .social {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .site-header.is-open .sitenav__item {
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--form-border-color);
    text-align: center;
  }

  .site-header.is-open .lang__item {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--form-border-color);
    width: 100%;
    text-align: center;
  }

  .site-header.is-open .social__item {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--form-border-color);
    width: 100%;
    text-align: center;
  }

  .site-header.is-open .sitenav__link {
    width: 100%;
    color: var(--secondary-text-color);
  }

  .site-header.is-open .lang__link {
    color: var(--secondary-text-color);
  }

  .site-header.is-open .social__link {
    color: var(--secondary-text-color);
  }

  .site-header.is-open .social__icon {
    color: var(--secondary-text-color);
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}